.navbar-admin{
    background-color: #F53838;
}

.admin-logo{
    width: 170px;
}

.space-after-nav{
    height: 50px;
}

.dashboard-body{
    background-color: #47476b;
}

.dashboard-small-card{
    background-color: #85adad;
}